<div id="page-container" class="main-section right-panel-container content-container">
  <div id="ember1023" class="ember-view tse-scrollable">
    <div class="tse-scrollbar" style="display: none;">
      <div class="drag-handle"></div>
    </div>
    <div class="tse-scroll-content">
      <div class="tse-content">
        <div class="stream-content-container">
          <span class="clearfix"></span>
          <div class="stream-container">
            <div class="VideoPlayer">
            </div>
          </div>
          <div class="WatchVod">
          </div>
        </div>
        <div id="ember1131" class="ember-view">
          {{> stats}}
        </div>
      </div>
    </div>
  </div>
</div>