<div class="player">
  <div class="name">{{player.name}}</div>
  <div class="player-portrait-background">
    <div class="player-portrait"
      style="background-image: url(https://am-a.akamaihd.net/image/?f={{player.photoUrl}}&amp;resize=100:);">
    </div>
  </div>
  <div class="stats">
    <div>{{player.kda}} KDA</div>
    <div>{{player.kp}}% KP</div>
  </div>
</div>