<div class="translated-role">
  {{#if_eq index 0}}
  <span class="translated-role-badge">Top</span>
  {{else if_eq index 1}}
  <span class="translated-role-badge">Jungle</span>
  {{else if_eq index 2}}
  <span class="translated-role-badge">Mid</span>
  {{else if_eq index 3}}
  <span class="translated-role-badge">Adc</span>
  {{else if_eq index 4}}
  <span class="translated-role-badge">Support</span>
  {{/if_eq}}
</div>