<div class="team-logo" style="background-size: contain; background-repeat:
        no-repeat; background-image: url(https://am-a.akamaihd.net/image/?f={{team.image}}&amp;resize=55:55);">
</div>
<div class="acronym-record">
  <div class="team-acronym">
    {{team.code}}
  </div>
</div>